---
- name: Clone and Install EPICS MCA
  include_tasks: clone-install-app.yml
  with_items:
    - "{{ epics_mca_apps }}"
  when:
    - epics_mca_apps is defined and
      epics_mca_apps | length > 0

  template:
    src: "{{ item.filename }}.j2"
    dest: "{{ item.pathname }}/{{ item.filename }}"
    owner: root
    group: root
    force: true
    mode: 0644
  become: true
  with_items:
    - "{{ epics_mca_apps_config_files }}"
  when:
    - epics_mca_apps is defined and
      epics_mca_apps | length > 0

- name: Ensure EPICA MCA octaverc is installed
  lineinfile:
    state: present
    path: /usr/share/octave/site/m/startup/octaverc
    line: "{{ item }}"
    insertafter: EOF
  become: true
  with_items:
    - "{{ epics_mca_apps_octaverc_lines | default([]) }}"

