
[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Icon[en_US]=/usr/share/icons/Adwaita/48x48/emblems/emblem-system.png
Name[en_US]=BbB iGp Longitudinal
Exec=/bin/bash -l -c "sirius-hla-bbb-launcher.sh LONG"
Name=BbB iGp Longitudinal
Icon=/usr/share/icons/Adwaita/48x48/emblems/emblem-system.png
StartupNotify=true
