---
- name: Resolve platform specific vars
  include_vars: '{{ item }}'
  with_first_found:
    - files:
        - '{{ ansible_distribution }}-{{ ansible_distribution_release }}.yml'
        - '{{ ansible_distribution }}.yml'
        - '{{ ansible_os_family }}.yml'
      ignore_errors: true
      paths:
        - '{{ role_path }}/vars'

- name: Define Python executable
  set_fact:
    python_executable: "{{ __python_executable | default('python') }}"
  when: python_executable is not defined

- name: Define sirius packages
  set_fact:
    sirius_apps_packages: "{{ __sirius_apps_packages | list }}"
  when: sirius_apps_packages is not defined

# Combine apps to install
- name: Create list of dict apps to install
  set_fact:
    sirius_apps: "{{ sirius_apps | default([]) |
            list + lookup('vars', item) }}"
  with_items:
    - "{{ sirius_apps_install_categories | default([]) | list }}"

- name: Default variable to empty
  set_fact:
    sirius_apps: []
  when:
    - sirius_apps is not defined

- name: Debug
  debug:
    msg: "sirius apps to install: {{ sirius_apps }}"

# Include Tasks
- include_tasks: setup-RedHat.yml
  when: ansible_os_family == 'RedHat'

- include_tasks: setup-Debian.yml
  when: ansible_os_family == 'Debian'

- include_tasks: setup-apps.yml
