.molecule
.vagrant
.cache
*.swp
.DS_Store
__pycache__
*.pyc
*.log
*.retry

# Python virtualenv
**/env

# Ansible vault
*.vault

# Ansible Galaxy Roles
roles/geerlingguy.docker/
roles/geerlingguy.pip/
roles/geerlingguy.repo-epel/
