---
# Install from source
__python_install_from_src: true

__basic_packages:
  - "git{{ (pkg_version_git | length > 0) | ternary('=' + pkg_version_git, '') }}"
  - "build-essential{{ (pkg_version_build_essential | length > 0) | ternary('=' + pkg_version_build_essential, '') }}"

__python_dep_packages:
  - "libreadline5{{ (pkg_version_libreadline5 | length > 0) | ternary('=' + pkg_version_libreadline5, '') }}"
  - "libreadline-dev{{ (pkg_version_libreadline_dev | length > 0) | ternary('=' + pkg_version_libreadline_dev, '') }}"
  - "libncursesw5-dev{{ (pkg_version_libncursesw5_dev | length > 0) | ternary('=' + pkg_version_libncursesw5_dev, '') }}"
  - "libssl-dev{{ (pkg_version_libssl_dev | length > 0) | ternary('=' + pkg_version_libssl_dev, '') }}"
  - "libsqlite3-dev{{ (pkg_version_libsqlite3_dev | length > 0) | ternary('=' + pkg_version_libsqlite3_dev, '') }}"
  - "tk-dev{{ (pkg_version_tk_dev | length > 0) | ternary('=' + pkg_version_tk_dev, '') }}"
  - "libgdbm-dev{{ (pkg_version_libgdbm_dev | length > 0) | ternary('=' + pkg_version_libgdbm_dev, '') }}"
  - "libc6-dev{{ (pkg_version_libc6_dev | length > 0) | ternary('=' + pkg_version_libc6_dev, '') }}"
  - "libbz2-dev{{ (pkg_version_libbz2_dev | length > 0) | ternary('=' + pkg_version_libbz2_dev, '') }}"

__python_base_packages:
  - "python3-dev{{ (pkg_version_python3_dev | length > 0) | ternary('=' + pkg_version_python3_dev, '') }}"

# We may need to install python2 setuptools because of ansible issue:
# https://github.com/ansible/ansible/issues/47361
__python_packages:
  - "python3-pip{{ (pkg_version_python3_pip | length > 0) | ternary('=' + pkg_version_python3_pip, '') }}"
  - "python3-tk{{ (pkg_version_python3_tk | length > 0) | ternary('=' + pkg_version_python3_tk, '') }}"
  - "python-setuptools{{ (pkg_version_apt_setuptools | length > 0) | ternary('=' + pkg_version_apt_setuptools, '') }}"
  - "swig{{ (pkg_version_swig | length > 0) | ternary('=' + pkg_version_swig, '') }}"

__pip_executable: pip-sirius

__python_pip_packages:
  - "pip{{ (pkg_version_pip | length > 0) | ternary('==' + pkg_version_pip, '') }}"
  - "python-dateutil{{ (pkg_version_python_dateutil | length > 0) | ternary('==' + pkg_version_python_dateutil, '') }}"
  - "cairocffi{{ (pkg_version_cairocffi | length > 0) | ternary('==' + pkg_version_cairocffi, '') }}"
  - "jupyter{{ (pkg_version_jupyter | length > 0) | ternary('==' + pkg_version_jupyter, '') }}"
  - "jupyter-contrib-nbextensions{{ (pkg_version_jupyter_nbextensions | length > 0) | ternary('==' + pkg_version_jupyter_nbextensions, '') }}"
  - "numpy{{ (pkg_version_numpy | length > 0) | ternary('==' + pkg_version_numpy, '') }}"
  - "bottleneck{{ (pkg_version_bottleneck | length > 0) | ternary('==' + pkg_version_bottleneck, '') }}"
  - "six{{ (pkg_version_six | length > 0) | ternary('==' + pkg_version_six, '') }}"
  - "pylama{{ (pkg_version_pylama | length > 0) | ternary('==' + pkg_version_pylama, '') }}"
  - "pep8{{ (pkg_version_pep8 | length > 0) | ternary('==' + pkg_version_pep8, '') }}"
  - "autopep8{{ (pkg_version_autopep8 | length > 0) | ternary('==' + pkg_version_autopep8, '') }}"
  - "pydocstyle{{ (pkg_version_pydocstyle | length > 0) | ternary('==' + pkg_version_pydocstyle, '') }}"
  - "pylint{{ (pkg_version_pylint | length > 0) | ternary('==' + pkg_version_pylint, '') }}"
  - "setuptools{{ (pkg_version_setuptools | length > 0) | ternary('==' + pkg_version_setuptools, '') }}"
  - "matplotlib{{ (pkg_version_matplotlib | length > 0) | ternary('==' + pkg_version_matplotlib, '') }}"
  - "pandas{{ (pkg_version_pandas | length > 0) | ternary('==' + pkg_version_pandas, '') }}"
  - "psutil{{ (pkg_version_psutil | length > 0) | ternary('==' + pkg_version_psutil, '') }}"
  - "pyqtgraph{{ (pkg_version_pyqtgraph | length > 0) | ternary('==' + pkg_version_pyqtgraph, '') }}"
  - "python-nmap{{ (pkg_version_python_nmap | length > 0) | ternary('==' + pkg_version_python_nmap, '') }}"
  - "requests{{ (pkg_version_requests | length > 0) | ternary('==' + pkg_version_requests, '') }}"
  - "scipy{{ (pkg_version_scipy | length > 0) | ternary('==' + pkg_version_scipy, '') }}"
  - "sh{{ (pkg_version_sh | length > 0) | ternary('==' + pkg_version_sh, '') }}"
  - "termcolor{{ (pkg_version_termcolor | length > 0) | ternary('==' + pkg_version_termcolor, '') }}"
  - "wakeonlan{{ (pkg_version_wakeonlan | length > 0) | ternary('==' + pkg_version_wakeonlan, '') }}"
  - "xlrd{{ (pkg_version_xlrd | length > 0) | ternary('==' + pkg_version_xlrd, '') }}"
  - "aiohttp{{ (pkg_version_aiohttp | length > 0) | ternary('==' + pkg_version_aiohttp, '') }}"
