# EDM
# ===

export EDMPVOBJECTS=/etc/edm
export EDMOBJECTS=/etc/edm
export EDMHELPFILES=/usr/share/edm/helpFiles
SIRIUS_APPS_HLA_EDMDATAFILES=/usr/share/edm/data:/usr/local/share/edm/data
export EDMDATAFILES=${EDMDATAFILES:+$EDMDATAFILES:}${SIRIUS_APPS_HLA_EDMDATAFILES}
