[Desktop Entry]
Name=Phoebus
Icon=/usr/share/icons/Adwaita/48x48/emblems/emblem-system.png
Comment=Phoebus application
Type=Application
Encoding=UTF-8
Exec=phoebus -resource %f
Terminal=false
StartupNotify=true
