Package: *
Pin: release o=Debian,a=oldstable,n=jessie,l=Debian-Security
Pin-Priority: {{ debian_jessie_security_conf_pin_prio }}

Package: *
Pin: release o=Debian,a=oldstable,n=jessie,l=Debian
Pin-Priority: {{ debian_jessie_main_conf_pin_prio }}

Package: libpcre*
Pin: release o=Debian,a=oldstable,n=jessie,l=Debian
Pin-Priority: {{ debian_jessie_libpcre_conf_pin_prio }}
