---
- name: Update apt cache
  apt:
    update_cache: true
    cache_valid_time: 86400
  become: true
  register: apt_update_cache_result
  until: apt_update_cache_result is success
  retries: 5
  delay: 2

- name: Ensure Sirius HLA Apps packages are installed
  apt:
    name: "{{ sirius_apps_hla_packages }}"
    state: "{{ sirius_apps_hla_packages_state }}"
    install_recommends: "{{ sirius_apps_hla_install_recommends }}"
  become: true
  register: apt_packages_result
  until: apt_packages_result is success
  retries: 5
  delay: 2
