---
csstudio_directory: /opt/cs-studio
csstudio_version_file: "{{ csstudio_directory }}/ess-version.txt"
csstudio_beast_preferences:
  - regexp: "^org.csstudio.alarm.beast/root_component="
    line: "org.csstudio.alarm.beast/root_component={{ csstudio_beast_root_component }}"
  - regexp: "^org.csstudio.alarm.beast/rdb_url="
    line: "org.csstudio.alarm.beast/rdb_url={{ beast_rdb_url }}"
  - regexp: "^org.csstudio.alarm.beast/rdb_user="
    line: "org.csstudio.alarm.beast/rdb_user={{ beast_rdb_user }}"
  - regexp: "^org.csstudio.alarm.beast/rdb_password="
    line: "org.csstudio.alarm.beast/rdb_password={{ beast_rdb_password }}"
  - regexp: "^org.csstudio.alarm.beast/jms_url="
    line: "org.csstudio.alarm.beast/jms_url={{ beast_jms_url }}"
  - regexp: "^org.csstudio.alarm.beast/jms_user="
    line: "org.csstudio.alarm.beast/jms_user={{ beast_jms_user }}"
  - regexp: "^org.csstudio.alarm.beast/jms_password="
    line: "org.csstudio.alarm.beast/jms_password={{ beast_jms_password }}"
  - regexp: "^org.csstudio.alarm.beast.annunciator/jms_topic="
    line: "org.csstudio.alarm.beast.annunciator/jms_topic={{ csstudio_annunciator_jms_topic }}"
  - regexp: "^org.csstudio.alarm.beast.annunciator/jms_url="
    line: "org.csstudio.alarm.beast.annunciator/jms_url={{ beast_jms_url }}"

csstudio_ca_datasource_preferences:
  - regexp: '^(\s*addr_list=)'
    line: '\1"{{ csstudio_ca_addr_list }}"'
  - regexp: '^(\s*max_array_bytes=)'
    line: '\1"{{ csstudio_ca_max_array_bytes }}"'

csstudio_databrowser_preferences:
  - regexp: "^org.csstudio.trends.databrowser3/urls="
    line: "org.csstudio.trends.databrowser3/urls={{ databrowser_archiver_url }}"
  - regexp: "^org.csstudio.trends.databrowser3/use_default_archives="
    line: "org.csstudio.trends.databrowser3/use_default_archives={{ databrowser_archiver_use_default_archives }}"
  - regexp: "^org.csstudio.trends.databrowser3/automatic_history_refresh="
    line: "org.csstudio.trends.databrowser3/automatic_history_refresh={{ databrowser_archiver_automatic_history_refresh }}"
  - regexp: "^org.csstudio.trends.databrowser3/archive_rescale="
    line: "org.csstudio.trends.databrowser3/archive_rescale={{ databrowser_archiver_archive_rescale }}"
  - regexp: "^org.csstudio.trends.databrowser3/archives="
    line: "org.csstudio.trends.databrowser3/archives={{ databrowser_archiver_archives }}"

csstudio_email_preferences:
  - regexp: "^org.csstudio.email/smtp_host="
    line: "org.csstudio.email/smtp_host={{ email_smtp_host }}"

csstudio_diirt_preferences:
  - regexp: "^org.csstudio.diirt.util.core.preferences/diirt.ca.pure.java="
    line: "org.csstudio.diirt.util.core.preferences/diirt.ca.pure.java={{ diirt_ca_pure_java }}"
  - regexp: "^org.csstudio.diirt.util.core.preferences/diirt.datasource.default="
    line: "org.csstudio.diirt.util.core.preferences/diirt.datasource.default={{ diirt_datasource_default }}"
  - regexp: "^org.csstudio.diirt.util.core.preferences/diirt.datasource.delimiter="
    line: "org.csstudio.diirt.util.core.preferences/diirt.datasource.delimiter={{ diirt_datasource_delimeter }}"

csstudio_phoebus_integration_preferences:
  - regexp: "^org.csstudio.phoebus.integration/phoebus_home="
    line: "org.csstudio.phoebus.integration/phoebus_home=/opt/phoebus{{ (phoebus_version is defined and
        phoebus_version | length > 0) | ternary('-' + phoebus_version, '') }}"
  - regexp: "^org.csstudio.phoebus.integration/jdk9_home="
    line: "org.csstudio.phoebus.integration/jdk9_home=/usr"

csstudio_icons_splash_dir: "{{ csstudio_directory }}/configuration/org.eclipse.equinox.launcher/se.ess.ics.csstudio.product_{{ csstudio_version }}"
csstudio_icons:
  - file: icon.png
    destination: "{{ csstudio_directory }}"
  - file: icon.png
    destination: "{{ csstudio_directory }}/features/org.csstudio.ess.product.configuration.feature_{{ csstudio_version }}/rootfiles"
  - file: icon.xpm
    destination: "{{ csstudio_directory }}"
  - file: splash.bmp
    destination: "{{ csstudio_icons_splash_dir }}"
