[Desktop Entry]
Type=Application
Name=CS\nStudio
Icon=/opt/cs-studio/icon.png
Exec=/bin/bash -l -c "cs-studio -consoleLog -pluginCustomization {{ desktop_autofs_sirius_epics_screens }}/cfg/combined_settings.ini -workspace_prompt ~/.css-workspaces/workspace -share_link {{ desktop_autofs_sirius_epics_screens }}=/displays --launcher.appendVmargs -Dorg.eclipse.swt.internal.gtk.cairoGraphics=false -Dorg.eclipse.swt.internal.gtk.useCairo=false -Dorg.eclipse.swt.browser.DefaultType=mozilla --launcher.openFile /displays/sirius_main_all.opi"
StartupNotify=true
Terminal=false
