---
- name: Define Python executable
  set_fact:
    python_executable: "{{ __python_executable | default('python') }}"
  when: python_executable is not defined

- name: Define PIP executable
  set_fact:
    pip_executable: "{{ __pip_executable | default(omit) }}"
  when: pip_executable is not defined

- name: Define conda executable path
  set_fact:
    conda_executable: "{{ __conda_executable | default('/opt/conda/bin/conda') }}"
  when: conda_executable is not defined

- name: Define mamba executable path
  set_fact:
    conda_mamba_executable: "{{ __conda_mamba_executable | default('/opt/conda/bin/mamba') }}"
  when: conda_mamba_executable is not defined

- name: Define conda profile path
  set_fact:
    conda_profile: "{{ __conda_profile | default('/opt/conda/etc/profile.d/conda.sh') }}"
  when: conda_profile is not defined

- name: Define conda PIP packages
  set_fact:
    sirius_apps_hlacon_pip_dep_packages: "{{ __sirius_apps_hlacon_pip_dep_packages | default([]) }}"
  when: sirius_apps_hlacon_pip_dep_packages is not defined

- name: Define conda PIP packages state
  set_fact:
    sirius_apps_hlacon_pip_dep_packages_state: "{{ __sirius_apps_hlacon_pip_dep_packages_state | default(present) }}"
  when: sirius_apps_hlacon_pip_dep_packages_state is not defined

# Remove HLACON package from system if requested
- include_tasks: remove-hlacon-from-system.yml
  when: >-
    sirus_apps_hlacon_remove_from_system | default(false) | bool

- include_tasks: install-hlacon-in-conda.yml
