---
- name: Create list of HLACON Pip packages to be removed
  set_fact:
    sirius_apps_hlacon_pip_packages_to_remove: "{{
      sirius_apps_hlacon_pip_packages_to_remove | default([]) |
            list + [ item | regex_replace('==.*$', '') ] }}"
  with_items:
    - "{{ sirius_apps_hlacon_pip_packages | default([]) | list }}"

- name: Default HLACON packages to remove variable to empty
  set_fact:
    sirius_apps_hlacon_pip_packages_to_remove: []
  when:
    - sirius_apps_hlacon_pip_packages_to_remove is not defined

- name: HLACON PIP packages to be removed
  debug:
    msg: "sirius_apps_hlacon_pip_packages_to_remove:
      {{ sirius_apps_hlacon_pip_packages_to_remove }}"

- name: Ensure no HLACON PIP versions are installed
  pip:
    name: "{{ sirius_apps_hlacon_pip_packages_to_remove }}"
    state: absent
    executable: "{{ conda_python_pip_executable | default(omit) }}"
  vars:
    ansible_python_interpreter: "{{ conda_python_executable }}"
  become: true
  register: hlacon_pip_packages_result
  until: hlacon_pip_packages_result is success
  retries: 5
  delay: 2
