---
- name: Converge
  hosts: all

  vars:
    nfs_clients_control_room_subnet: 127.0.0.1/24
    nfs_clients_cnpem_sirius_subnet: 127.0.0.1/24
    fac_workstation_ip: 127.0.0.1
    nfs_ignore_systemd_errors: true

  pre_tasks:
    - name: Include molecule overrides
      include_vars: "{{ lookup('first_found', possible_var_files) }}"
      vars:
        possible_var_files:
          - "../../../../group_vars/molecule_overrides.yml"

    - name: Include distribution-dependent variables
      include_vars: "{{ lookup('first_found', possible_var_files) }}"
      vars:
        possible_var_files:
          - "../../../../group_vars/{{ ansible_distribution }}-{{ ansible_distribution_release }}.yml"
          - "../../../../group_vars/{{ ansible_distribution }}.yml"
          - "../../../../group_vars/{{ ansible_os_family }}.yml"
          - "../../../../group_vars/all"

  roles:
    - role: lnls-ans-role-nfsserver
