# EPICS IPs
# ==================================

# Linac IOCs
# 10.128.1.12:5064 = LLRF
# 10.128.1.12:5070 = LLRF (procServControl)
# 10.128.1.13:5064 = Modulators
# 10.128.1.13:5068 = Modulators (PC monitoring)
# 10.128.1.13:5070 = Modulators (procServControl)
# 10.128.1.54 = BPM 2
# 10.128.1.55 = BPM 3

IP_IOCS_LI="\
10.128.1.12:5064 10.128.1.12:5070 \
10.128.1.13:5064 10.128.1.13:5068 10.128.1.13:5070 \
10.128.1.54 \
10.128.1.55 \
"

# Kyma undulators
# 10.0.38.29 = Ipê (SI-11SP:ID-APU58, 1995-ccu)
# 10.0.38.37 = Cateretê (SI-07SP:ID-APU22, 1991a-ccu)
# 10.0.38.39 = Manacá (SI-09SA:ID-APU22, 1991b-ccu)
# 10.0.38.52 = Ema (SI-08SB:ID-APU22, 1991d-ccu)
# 10.0.38.93 = Carnaúba (SI-06SB:ID-APU22, 1991c-ccu)

IP_CLP_KYMA_UNDU="\
10.0.38.29  \
10.0.38.37 \
10.0.38.39 \
10.0.38.52 \
10.0.38.93 \
"

# Mobile radiation meters
# 10.31.74.16 = Thermo 1
# 10.0.38.31 = Thermo 6
# 10.0.38.83 = Thermo 12
# 10.0.38.72 = Thermo 14
# 10.31.33.25 = Thermo 16
# 10.0.38.36 = ELSE

IP_RAD="\
10.31.74.16 \
10.0.38.31 \
10.0.38.83 \
10.0.38.72 \
10.31.33.25 \
10.0.38.36 \
"

# Beamline hosts
# 10.30.14.19 = Carcará-X DVF2 and DVF1 IOCs
# 10.39.50.46 = Carcará-X other iocs

IP_BEAMLINES="\
10.30.14.19 \
10.39.50.46 \
"

# Beamline hosts
# 10.10.10.124 = CAX IOCs

IP_FACILITIES="\
10.10.10.124 \
"

IP_INTLK="\
10.0.28.64 \
"

export EPICS_CA_ADDR_LIST="\
${EPICS_CA_ADDR_LIST} \
${IP_IOCS_LI} \
${IP_CLP_KYMA_UNDU} \
${IP_RAD} \
${IP_BEAMLINES} \
${IP_FACILITIES} \
${IP_INTLK} \
"

export EPICS_PVA_ADDR_LIST="\
${EPICS_PVA_ADDR_LIST} \
${IP_IOCS_LI} \
${IP_CLP_KYMA_UNDU} \
${IP_RAD} \
${IP_BEAMLINES} \
${IP_FACILITIES} \
${IP_INTLK} \
"

# EPICS Support Application Machines
# ==================================

#export VACA_PREFIX=$(whoami)-$(hostname)- # This line should be commented when in sirius computers
export VACA_PREFIX=
export SIRIUS_URL_RBAC_AUTH=https://sirius-rbac-auth.lnls.br
export SIRIUS_URL_RBAC=https://rbac:8445
export SIRIUS_URL_NS=http://naming-service-wildfly:8089
export SIRIUS_URL_CCDB=http://ccdb:8083
export SIRIUS_URL_CABLES=http://cable:8086
export SIRIUS_URL_CONSTS=http://10.0.38.59/control-system-constants
export SIRIUS_URL_CONSTS_2=http://10.0.38.46/control-system-constants
export SIRIUS_URL_CONFIGDB=http://10.0.38.59/config-db
export SIRIUS_URL_CONFIGDB_2=http://10.0.38.46/config-db
export SIRIUS_URL_LOGBOOK=http://sirius-logbook.lnls.br/Olog
export SIRIUS_URL_ARCHIVER=https://10.0.38.42
