# EPICS default variables
# =======================

export EPICS_HOST_ARCH=linux-x86_64
export EPICS_FOLDER="{{ epics_base_dir }}"
export EPICS_BASE=${EPICS_FOLDER}
export EPICS_TOPDIR=${EPICS_BASE}
export EPICS_CA_ADDR_LIST=
export EPICS_PV_ADDR_LIST=
export EPICS_PVA_ADDR_LIST=
export EPICS_CA_AUTO_ADDR_LIST="YES"
export EPICS_PV_AUTO_ADDR_LIST="YES"
export EPICS_PVA_AUTO_ADDR_LIST="YES"

export EPICS_EXTENSIONS=${EPICS_FOLDER}/extensions
export EPICS_CA_MAX_ARRAY_BYTES=10000000

export PATH=${PATH}:${EPICS_EXTENSIONS}
