#!/bin/sh

# PyDM
# ====
export PYDM_DESIGNER_ONLINE=True
export PYDM_DEFAULT_PROTOCOL="ca://"

# PYEPICS, PYCA, CAPROTO
export PYDM_EPICS_LIB="PYEPICS"
export LC_NUMERIC="en_US.UTF-8"

# PyQt
# ====
export PYQTDESIGNERPATH={{ conda_prefix }}/repos/hla/pyqt-apps
