Package: *
Pin: release o=Debian,a=stable,n=stretch,l=Debian-Security
Pin-Priority: {{ debian_buster_security_conf_pin_prio }}

Package: *
Pin: release o=Debian,a=stable,n=stretch,l=Debian
Pin-Priority: {{ debian_buster_main_conf_pin_prio }}

Package: libpcre*
Pin: release o=Debian,a=stable,n=stretch,l=Debian
Pin-Priority: {{ debian_buster_libpcre_conf_pin_prio }}
