---
csstudio_version: 4.6.1.25
csstudio_repository: production
csstudio_base_url: "https://artifactory.esss.lu.se/artifactory/CS-Studio"
csstudio_archive: "{{ csstudio_base_url }}/{{ csstudio_repository }}/{{ csstudio_version }}/cs-studio-ess-{{ csstudio_version }}-linux.gtk.x86_64.tar.gz"
# When changing the fonts, don't forget to remove
# the previous directories!
csstudio_fonts: https://artifactory.esss.lu.se/artifactory/swi-pkg/fonts/cs-studio-fonts-20180222.tgz
csstudio_fonts_dir: /usr/local/share/fonts/ess-20180222
# xulrunner downloaded from http://releases.mozilla.org/pub/xulrunner/nightly/2012/05/2012-05-13-03-32-04-mozilla-1.9.2/
# x86_64 version only available in nightly (not in releases)
csstudio_xulrunner_version: 1.9.2.29pre
csstudio_xulrunner: https://artifactory.esss.lu.se/artifactory/swi-pkg/xulrunner/xulrunner-{{ csstudio_xulrunner_version }}.en-US.linux-x86_64.tar.bz2

# ":" separated list of addresses
csstudio_ca_addr_list: localhost
# Max array bytes
csstudio_ca_max_array_bytes: 10000000

# root components defined in beast playbook
csstudio_beast_root_component: LNLS_Alarms
csstudio_annunciator_jms_topic: ALARM

# Beast Settings
beast_rdb_url: jdbc:postgresql://10.0.38.42:5432/lnls_alarms
beast_rdb_user: lnls_alarm_user
beast_rdb_password: controle
beast_jms_url: failover:(tcp://10.0.38.42:61616)
beast_jms_user: admin
beast_jms_password: admin

# Archiver Settings
databrowser_archiver_url: pbraw://10.0.38.42/retrieval|LNLS Archiver
databrowser_archiver_use_default_archives: "true"
databrowser_archiver_automatic_history_refresh: "true"
databrowser_archiver_archive_rescale: NONE
databrowser_archiver_archives: LNLS Archiver|1|pbraw://10.0.38.42/retrieval

# SMTP
email_smtp_host: 10.0.38.42:25

# DIIRT
diirt_ca_pure_java: "true"
diirt_datasource_default: ca
diirt_datasource_delimeter: \://
