# NFS Server Configuration File

# --- lnls-sirius repos ---
/home/nfs-shared/repos-lnls-sirius  {{ nfs_clients_control_room_subnet }}(rw,sync,no_subtree_check,no_root_squash,insecure)\
                                    {{ nfs_clients_cnpem_sirius_subnet }}(rw,sync,no_subtree_check,no_root_squash,insecure)

# --- lost and found ---
/home/nfs-shared/lost-and-found     {{ nfs_clients_control_room_subnet }}(rw,sync,no_subtree_check,no_root_squash,insecure)\
                                    {{ nfs_clients_cnpem_sirius_subnet }}(rw,sync,no_subtree_check,no_root_squash,insecure)

# --- screens-iocs ---
/home/nfs-shared/screens-iocs       {{ nfs_clients_control_room_subnet }}(rw,sync,no_subtree_check,no_root_squash,insecure)\
                                    {{ nfs_clients_cnpem_sirius_subnet }}(rw,sync,no_subtree_check,no_root_squash,insecure)

# --- backups shared with lnls350-linux ---
/home/nfs-shared/backups            {{ fac_workstation_ip }}(rw,sync,no_subtree_check,no_root_squash,insecure)
