---
__nvidia_repository_apt:
  - name: Debian contrib/non-free repository
    baseurl: "deb http://deb.debian.org/debian stretch main contrib non-free"
    description: "Debian contrib/non-free repository"
    state: present

  - name: Debian contrib/non-free updates repository
    baseurl: "deb http://deb.debian.org/debian stretch-updates main contrib non-free"
    description: "Debian contrib/non-free updates repository"
    state: present

  - name: Debian contrib/non-free volatile repository
    baseurl: "deb http://deb.debian.org/debian-security stretch/updates main contrib non-free"
    description: "Debian contrib/non-free volatile repository"
    state: present

__nvidia_packages:
  - nvidia-driver=390.116*
  - nvidia-kernel-dkms=390.116*
