[Desktop Entry]
Type=Application
Name=DIG\nLinStrip
Icon=/usr/share/icons/gnome/48x48/devices/audio-card.png
Exec=/bin/bash -l -c "gvncviewer scope-dig-linac-stripline"
StartupNotify=true
Terminal=false
