[Desktop Entry]
Type=Application
Name=SI-PU-Osc-InjSI
Icon=/usr/share/icons/Adwaita/48x48/devices/audio-card.png
Exec=/bin/bash -l -c "gvncviewer keysigh-5javqgi"
StartupNotify=true
Terminal=false
