[Desktop Entry]
Type=Link
Name=Serv\nWeb
Icon=/usr/share/icons/gnome/48x48/places/server.png
URL=http://sirius-consts.lnls.br/control-system-constants
