[Desktop Entry]
Type=Application
Name=CONS\nPyDM OPIs
Path=/home/sirius/cons-opis/pydm-opi
Icon=/home/sirius/cons-opis/pydm-opi/images/LNLS.png
Exec=/bin/bash /home/sirius/cons-opis/pydm-opi/launch.sh
StartupNotify=true
Terminal=false
