[Desktop Entry]
Type=Application
Name=TS-PU-Osc-EjeBO
Icon=/usr/share/icons/Adwaita/48x48/devices/audio-card.png
Exec=/bin/bash -l -c "gvncviewer TS-PU-Osc-EjeBO"
StartupNotify=true
Terminal=false
