[Desktop Entry]
Type=Application
Name=AS\nVacuum
Icon=/usr/share/icons/gnome/48x48/emblems/emblem-system.png
Exec=/home/sirius/repos/pydm-opi/launch.sh
StartupNotify=true
Terminal=false
