[Desktop Entry]
Type=Application
Name=PV\nConfig
Icon=/usr/share/icons/gnome/48x48/emblems/emblem-system.png
Exec=/bin/bash -l -c "sirius-hla-as-ap-pvsconfmgr.py"
StartupNotify=true
Terminal=false
