[Desktop Entry]
Type=Application
Name=TS-PU-Osc-InjSI
Icon=/usr/share/icons/Adwaita/48x48/devices/audio-card.png
Exec=/bin/bash -l -c "gvncviewer keysigh-48bj10q"
StartupNotify=true
Terminal=false
