[Desktop Entry]
Type=Application
Encoding=UTF-8
Comment=GCO PyDM Operator Displays
Name=GCO PyDM OPIs
Exec=sirius-hla-as-ap-conlauncher
Icon=lnls-logo.png
StartupNotify=true
Terminal=false
Categories=PyDM;Qt;Utility;
